.container {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    /*width: 25%;
    height: 60vh;*/
    align-items: center;
   

}
.foto {
    border-radius: 60px;
    width: 60px;
    height: 60px;
}
.perfil {
    padding: 30px;
    padding-bottom: 330px;
   
}
h2 {
    padding-top:5px;
}

button {
    padding: 10px;
    border-radius: 10px;
    
}
@media (min-width:992px){
    .container {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        height: 150px ;
    }
    .perfil {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    a {padding-top: 30px;}
    
    button {
        margin-top: 50px;
    }
}